<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-icon name="image-outline" size="large"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>
        <ion-text>
          <h1>Bienvenido a Content Creator</h1>
        </ion-text>
      </ion-card-title>

      <ion-text color="medium">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="goToLogin()">
    Continuar
  </ion-button>
</ion-content>
